

    <div flex layout="row" layout-align="center">
      <div flex="40">
        <mat-card>
          <!--    Card header      -->
          <mat-card-header layout="row" layout-align="start center">
            <mat-card-avatar>
              <img class="mat-user-avatar" src="https://scontent-vie1-1.cdninstagram.com/t51.2885-19/10724188_1478348235786011_667052421_a.jpg" />
            </mat-card-avatar>
            <mat-card-header-text>
              <span class="mat-title">Username</span>
              <span class="mat-subhead">subhead</span>
            </mat-card-header-text>
            <mat-button ng-disabled="true" class="mat-raised">follow</mat-button>
          </mat-card-header>
  
          <!--    Image for the card      -->
          <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="mat-card-image" alt="Washed Out">
  
          <!--    Card content title      -->
          <mat-card-title>
            <mat-card-title-text>
              <span class="mat-headline">In-card mixed actions</span>
              <span class="mat-subhead">Reversed</span>
            </mat-card-title-text>
  
            <mat-card-title-media>
              <img ng-src="https://material.angularjs.org/latest/img/washedout.png" class="mat-media-mat" alt="Washed Out">
            </mat-card-title-media>
          </mat-card-title>
  
          <!--    Card content      -->
          <mat-card-content>
            <p>
              The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
            </p>
          </mat-card-content>
  
          <!--    Card actions      -->
          <mat-card-actions layout="row" layout-align="start center">
            <mat-button>Action 1</mat-button>
            <mat-button>Action 2</mat-button>
            <mat-card-icon-actions>
              <!-- <mat-button class="mat-icon-button" aria-label="toggle">
                <mat-icon mat-svg-icon="mat-toggle-arrow"></mat-icon>
              </mat-button> -->
            </mat-card-icon-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  
