<div class="col-md-6">
    <h2 class="text-center">Add Student</h2>
  
   
</div>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
    <div fxFlex>
        <div>
            <h3><span>Place your order</span></h3>
        </div>
        <hr>
    </div>
    <div fxFlex>
        <mat-grid-list cols="2" rowHeight="200px" >
            <mat-grid-tile>
              <img src= {{product_curr.img_path}} alt="" height="200px">
              <mat-grid-tile-footer>
                  <h2>  {{product_curr.name}} </h2>&nbsp;
                  <h2> |  {{product_curr.manufacturer}}  |</h2>
                </mat-grid-tile-footer>
            </mat-grid-tile>

            <mat-grid-tile>
                <h2>Enter the quantity</h2>
                <form (ngSubmit)="createOrder()">

                  <div>
                    <input type="number" placeholder="enter id" id="quantity" name="quantity" [(ngModel)]="order.quantity"  class="form-control" >
                  </div>
                  
                  <div>
                  <input type="submit" value="Place order" class="btn btn-danger">
                </div>
                </form>
                <br>
                <mat-grid-tile-footer>
                    <!-- <a mat-button [routerLink] ="['/place-order', product_curr.product_ID]"> Place order</a> -->
                    <a mat-button>Remove</a>
                  </mat-grid-tile-footer>
              </mat-grid-tile>
          </mat-grid-list>
    </div>
  
    <!-- <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{prod.name | uppercase }}</h3>
                </mat-card-title>
    
                    <img mat-card-image src="{{ prod.img_path }}" alt="{{ prod.name }}">
            </mat-card-header>
            <mat-card-content>
                <p>{{ prod.manufacturer }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div> -->

</div>