<br>
<div class="container">

    <div class="form-group">
        <input type="text" [(ngModel)]="query" class="form-control" name="search" placeholder="Filter by entering keywords">
        &nbsp;
    </div>

</div>

<div class="container" >
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Manufacturer</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders | filter : query">
                <td>{{ order.order_ID }}</td>
                <td>{{ order.product.name }} </td>
                <td>{{ order.product.manufacturer}}</td>
                <td>{{ order.quantity }}</td>
                <td><img src= "{{ order.product.img_path }}" alt="" height="200px"></td>
                <td *ngIf="order.order_ID"><button class="btn btn-info" (click)="removeOrder(order.order_ID)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    
    
</div>
